.checkout__add {
  width: 100%;
  margin-bottom: 10px;
  /* max-height: 50vh; */
  object-fit: cover;
}
.checkout {
  min-height: 100vh;
}

.checkout {
  display: flex;
  padding: 20px;
  background-color: white;
  height: max-content;
  justify-content: space-between;
}
.checkout__title {
  width: 100%;
  margin-bottom: 10px;
}
